.carousel {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.slider-container {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  flex: 0 0 100%; /* Slider'ı tam ekran genişliğinde göstermek için */
  max-width: 100%; /* İçerikin genişliği */
  box-sizing: border-box;
}

.slide img {
  width: 100%;
  height: auto;
  display: block;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  background: none;
  border: none;
  cursor: pointer;
}

.prev-btn {
  left: 0;
}

.next-btn {
  right: 0;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
